@use "colors" as c;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: 400 normal 1rem/1rem "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: c.$gray-1;
  padding: 64px 0;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
}

// responsive
@media screen and (max-width: 619.98px) {
  body {
    padding: 32px 0;
  }
}
