@use "colors" as c;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: 400 normal 1rem/1rem "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: c.$gray-1;
  padding: 70px 0;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 10px;
}
